.actionsContainer {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1.2rem 0;
}

.actionsContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.actionsContainer ul li {
  font-weight: 300;
  padding: 0 0.3rem;
}
