.letterUnreached {
  color: inherit;
}

.letterReached {
  color: lightblue;
}

.letterMisspelled {
  color: red;
}

.letterCurrent {
  color: inherit;
  position: relative;
}

.letterCurrent::before {
  color: aqua;
  content: "|";
  position: absolute;
  transform: translateX(-50%);
}
